RewriteEngine on
RewriteRule ^user/([a-zA-Z0-9_-]+)$ controller/?act=view_account&action_user=$1

RewriteRule ^view-product/([a-zA-Z0-9_-]+)/([0-9]+)$ controller/?act=detail_prod&id_source=$2

RewriteRule ^view-news/([a-zA-Z0-9_-]+)/([0-9]+)$ controller/?act=detail_news&id_source=$2

RewriteRule ^product-type/([a-zA-Z0-9_-]+)/([0-9]+)$ controller/?act=product_type&id_category=$2

RewriteRule ^login-account$ controller/?act=login_account

RewriteRule ^product/view-all$ controller/?act=all_prod